<html>

<head>
  <title>Cocktails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<ul>
{{#menu}}
<li><a href={{link}}>{{text}}</a></li>
{{/menu}}
</ul>
<hr/>
{{#cocktails}}

<h3>{{name}}</h3>

<i>({{timing}})</i>

<ul>
{{#ingredients}}
 <li>{{amount}} {{unit}} {{ingredient}}</li>
{{/ingredients}}
</ul>

{{preparation}}.

{{/cocktails}}
</body>

</html>