<html>

<head>
  <title>Cocktails</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>

<header>

<h1>Cocktails</h1>

<nav id="nav" class="menu">

<ul>
{{#menu}}
  <li><a href={{link}}>{{text}}</a></li>
{{/menu}}
</ul>

</nav>

</header>

{{#cocktails}}
<h3>{{name}}</h3>

<i>({{timing}} -- {{taste}})</i>

<ul>
{{#ingredients}}
  <li>{{amount}} {{unit}} {{ingredient}}</li>
{{/ingredients}}
</ul>

{{preparation}}.

{{/cocktails}}

<script>
var anchor  = document.getElementById('nav').getElementsByTagName('a'),
    current = window.location.pathname.split('/').reverse()[0];
for (var i = 0; i < anchor.length; i++) {
    if (current == anchor[i].href.split("/").reverse()[0]) {
       anchor[i].className = 'current';
       break;
    }
}
</script>

</body>

</html>
